<table border="1"  rules="all" cellspacing="10" cellpadding="5" align="center" bgcolor="#ccffcc" width="50%" style="font-size:100%">
    <tr bgcolor="#ffffcc">
        <td colspan="3" align="center">{{ Titel }}<br>{{ Untertitel }}</td>><td rowspan="7" align="center">{{ aendern|kopieren }}</td>
    </tr>
    <tr valign="middle">
        <td valign="middle"><img src="Treffpunkt15x15.png" alt="Ort">&nbsp{{ Ort }}</td><td valign="middle"><img src="Kalender15x15.png" alt="Termin">&nbsp{{ Termin }}</td><td rowspan="3" align="center">{{ Name }}<br>{{ eMail }}</td>
    </tr>
    <tr valign="middle" bgcolor="#ffffcc">
        <td valign="middle"><img src="Uhr15x15.png" alt="Zeit">&nbsp{{ Zeit }}</td><td valign="middle"><img src="Teilnehmer15x15.png" alt="Teilnehmer">&nbsp{{ Teilnehmerzahl }}</td>
    </tr>
    <tr valign="middle">
        <td valign="middle"><img src="Preis15x15.png" alt="Kosten">&nbsp{{ Kosten }}</td><td valign="middle"><img src="Anmeldschluss15x15.png" alt="Anmeldeschluss">&nbsp{{ Anmeldeschluss }}</td>
    </tr>
    <tr bgcolor="#ffffcc">
        <td colspan="3" bgcolor="#ffffcc">Beschreibung:<br>{{ Beschreibung }}</td>
    </tr>
    <tr>
        <td colspan="3">Voraussetzungen:<br>{{ Voraussetzungen }}</td>
    </tr>
    <tr bgcolor="#ffffcc">
        <td colspan="3">Web-Info:&nbsp{{ Web-Info }}</td>
    </tr>
</table>
